@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
box-sizing:border-box;
}

body{

margin:0;

font-family:'Inter',system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;

background:#0b1020;

color:white;

-webkit-font-smoothing:antialiased;

-moz-osx-font-smoothing:grayscale;

}

/* SCROLLBAR */

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#374151;
border-radius:10px;
}

::-webkit-scrollbar-track{
background:transparent;
}
